<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<% if @messages.present? %>

  <% if @messages[0].sender == current_user.id %>
    <% @receiver = @messages[0].receiver %>
  <% else %>
    <% @receiver = @messages[0].sender %>
  <% end %>

  <ul id="messages">
    <% @messages.each do |message| %>
      <% @message = message %>
      <%= render "messages/message" %>
    <% end %>
  </ul>

  <br/>

  <%= form_for Message.new, remote: true do |f| %>
    <%= f.hidden_field :sender, :value => current_user.id %>
    <%= f.hidden_field :receiver, :value => @receiver %>
    <%= f.text_area :content, size: "45x3" %>
    <br/>
    <%= f.submit %>
  <% end %>

<% end %>

